*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    text-align: center;
}
.myButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:#060c57;
	border-radius:13px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	font-weight:bold;
	padding:72px 76px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
    
}
.myButton:hover {
	
	background-color:#a51d1d;
}
.myButton:active {
	position:relative;
	top:1px;
}
